<div class="row">
    <div class="col-md-2">
        <ul><br>
            <a [routerLink]="['/home']"><li style="background-color: cornflowerblue;">Home</li></a><hr>
            <a [routerLink]="['/my-account']"><li>My Account</li></a><hr>
            <a [routerLink]="['/search-train']"><li>Search Trains</li></a><hr>
            <a [routerLink]="['/book-ticket']"><li>Book a ticket</li></a><hr>
        </ul>
    </div>
    <div class="col-md-10" style="background-color: cornflowerblue">
        <br><h3>Welcome to Train Ticket Booking Portal</h3>
        <img src="assets/images/banner-1.jpg" height="580px" width="100%">
    </div>
</div>